html, body, #container, #app {
	width : 100%;
	height : 100%;
	margin : 0;
}


#app {
	display : flex;
	flex-direction : row;

}

#chaincards {
	width : 50%;
	border : 10px solid blue;	
}

#allcards {
	width  : 50%;
}

.borderline {
	/*border : 1px solid red;*/
}

.card-open {
	/*border : 1px solid blue;*/
}
